<form>
  <label>Practice Assignment 2</label>
  <input
    type="text"
    class="form-control"
    (input)="onUpdateUser($event)"
    [(ngModel)]="userName"
  />
  <p>{{ userName }}</p>
  <p>{{ userCreationStatus }}</p>
  <button [disabled]="!allowNewUser" (click)="userName = ''">Add User</button>
</form>

<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" />
<p>{{ serverName }}</p> -->
<hr />
<!-- two-way-binding -->
<input type="text" class="form-control" [(ngModel)]="serverName" />
<!-- <p>{{ serverName }}</p> -->
<br />
<!-- property binding example ⇩ -->
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>
<!-- <p [innerText]="allowNewServer"></p> -->
<hr />
<i class="fas fa-h1">This is an example of string interpolation</i>
<p>{{ serverCreationStatus }}</p>
<hr />
<app-server></app-server>
<app-server></app-server>
